/*
 *= require store/spree_frontend
*/
.add_on_maker {
  display: block;
}
.add_on_maker ul{
  list-style :none;
}
.add_on_maker ul li {
  display: inline;
  float: left;
  padding: 0 1em;
  border-left: solid 1px black;
}
.add_on_maker li:first-child{
    border-left: none;
}

.add_on_maker_sidebar {
  display: block;
}
.add_on_maker_sidebar ul{
  list-style :none;
}
nav#add_on_maker_sidebar .add_on_maker {
    border-bottom: 1px solid #D9D9DB;
    font-size: 14px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#product-description .product-maker-name {
    margin-bottom: 15px;
}